USE [master]
GO
/****** Object:  Database [RentVideoSystem]    Script Date: 1/3/2024 11:02:36 PM ******/
CREATE DATABASE [RentVideoSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentVideoSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RentVideoSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentVideoSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RentVideoSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentVideoSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentVideoSystem]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/3/2024 11:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[DOB] [date] NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[DateCreated] [date] NULL,
	[StatusRent] [bit] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetailTransaction]    Script Date: 1/3/2024 11:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetailTransaction](
	[IDRent] [int] NOT NULL,
	[IDVid] [nvarchar](50) NOT NULL,
	[Amount] [int] NULL,
	[RentalFee] [int] NULL,
 CONSTRAINT [PK_DetailTransaction] PRIMARY KEY CLUSTERED 
(
	[IDRent] ASC,
	[IDVid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalTransaction]    Script Date: 1/3/2024 11:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalTransaction](
	[IDRent] [int] IDENTITY(1,1) NOT NULL,
	[DateOfBorrow] [date] NULL,
	[DateOfReturn] [date] NULL,
	[TotalPrice] [int] NULL,
	[ID] [nvarchar](50) NULL,
	[StatusReturn] [bit] NULL,
 CONSTRAINT [PK_RentalTransaction] PRIMARY KEY CLUSTERED 
(
	[IDRent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Video]    Script Date: 1/3/2024 11:02:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[ID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Author] [nvarchar](50) NULL,
	[YearOfRelease] [nvarchar](50) NULL,
	[Amount] [int] NULL,
	[PriceOfDay] [int] NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customers] ([ID], [Name], [DOB], [Phone], [Address], [DateCreated], [StatusRent], [IsActive]) VALUES (N'2011061154', N'Toan', CAST(N'2002-09-22' AS Date), N'0985876967', N'BH', CAST(N'2023-12-22' AS Date), 0, 1)
INSERT [dbo].[Customers] ([ID], [Name], [DOB], [Phone], [Address], [DateCreated], [StatusRent], [IsActive]) VALUES (N'2011063378', N'Gia', CAST(N'2002-12-07' AS Date), N'09000101', N'VT', CAST(N'2023-10-20' AS Date), 0, 1)
INSERT [dbo].[Customers] ([ID], [Name], [DOB], [Phone], [Address], [DateCreated], [StatusRent], [IsActive]) VALUES (N'2011064187', N'Danh', CAST(N'2002-10-20' AS Date), N'090010202', N'BD', CAST(N'2023-07-03' AS Date), 1, 1)
GO
INSERT [dbo].[DetailTransaction] ([IDRent], [IDVid], [Amount], [RentalFee]) VALUES (32, N'123', 1, 3000)
INSERT [dbo].[DetailTransaction] ([IDRent], [IDVid], [Amount], [RentalFee]) VALUES (32, N'2345', 2, 18000)
INSERT [dbo].[DetailTransaction] ([IDRent], [IDVid], [Amount], [RentalFee]) VALUES (33, N'123', 1, 6000)
GO
SET IDENTITY_INSERT [dbo].[RentalTransaction] ON 

INSERT [dbo].[RentalTransaction] ([IDRent], [DateOfBorrow], [DateOfReturn], [TotalPrice], [ID], [StatusReturn]) VALUES (32, CAST(N'2023-12-28' AS Date), CAST(N'2023-12-29' AS Date), NULL, N'2011064187', NULL)
INSERT [dbo].[RentalTransaction] ([IDRent], [DateOfBorrow], [DateOfReturn], [TotalPrice], [ID], [StatusReturn]) VALUES (33, CAST(N'2023-12-28' AS Date), CAST(N'2024-01-02' AS Date), 54600, N'2011064187', 1)
INSERT [dbo].[RentalTransaction] ([IDRent], [DateOfBorrow], [DateOfReturn], [TotalPrice], [ID], [StatusReturn]) VALUES (34, CAST(N'2024-01-02' AS Date), CAST(N'2024-01-05' AS Date), NULL, N'2011061154', NULL)
SET IDENTITY_INSERT [dbo].[RentalTransaction] OFF
GO
INSERT [dbo].[Video] ([ID], [Name], [Type], [Author], [YearOfRelease], [Amount], [PriceOfDay]) VALUES (N'123', N'Titanic', N'
Romantic', N'James Cameron', N'1997', 11, 3000)
INSERT [dbo].[Video] ([ID], [Name], [Type], [Author], [YearOfRelease], [Amount], [PriceOfDay]) VALUES (N'2345', N'Romeo and Julier', N'Romantic', N'Baz Luhrmann', N'1996', 10, 9000)
GO
ALTER TABLE [dbo].[DetailTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaction_RentalTransaction] FOREIGN KEY([IDRent])
REFERENCES [dbo].[RentalTransaction] ([IDRent])
GO
ALTER TABLE [dbo].[DetailTransaction] CHECK CONSTRAINT [FK_DetailTransaction_RentalTransaction]
GO
ALTER TABLE [dbo].[DetailTransaction]  WITH CHECK ADD  CONSTRAINT [FK_DetailTransaction_Video] FOREIGN KEY([IDVid])
REFERENCES [dbo].[Video] ([ID])
GO
ALTER TABLE [dbo].[DetailTransaction] CHECK CONSTRAINT [FK_DetailTransaction_Video]
GO
ALTER TABLE [dbo].[RentalTransaction]  WITH CHECK ADD  CONSTRAINT [FK_RentalTransaction_Customers] FOREIGN KEY([ID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[RentalTransaction] CHECK CONSTRAINT [FK_RentalTransaction_Customers]
GO
USE [master]
GO
